
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "title input" "subtitle input";
    grid-gap: 16px 32px;
}

@media (max-width: 767px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas: "title" "subtitle" "input";
        justify-content: center;
    }
}

.title {
    grid-area: title;
}

.subtitle {
    grid-area: subtitle;
}

.input {
    grid-area: input;
    align-self: flex-end;
    justify-self: flex-end;
}

@media (max-width: 767px) {
    .input {
        justify-self: stretch;
    }
}
