
.container {
    width: 352px;
    height: 48px;
    border-radius: 8px;
    background-color: var(--gray-300);
    transition: background-color .2s;
    display: flex;
    align-items: center;
    overflow: hidden;
}

@media (max-width: 767px) {
    .container {
        width: auto;
    }
}

.container:focus-within {
    background: var(--gray-100);
    box-shadow: 0 6px 12px 0 rgba(28, 7, 19, 0.1), 0 0 1px 0 rgba(28, 7, 19, 0.2);
}

.container__input {
    margin: 0 16px;
    flex: 1;
}

.input {
    width: 100%;
    color: var(--gray-500);
    border: none;
    background: transparent;
}

.input::placeholder {
    color: var(--gray-400);
}

.label {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
