
.container {
    width: 100%;
    min-height: 241px;
    border-radius: 24px;
    background-color: var(--white);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.container__top {
    padding: 24px 24px 24px 32px;
    flex: 1;
}

.container__bottom {
    height: 72px;
    padding: 0 32px 0 24px;
    display: flex;
    align-items: center;
}

.temperature {
    margin-top: 20px;
}

.description {
    margin-top: 4px;
}

.icon {
    position: absolute;
    right: 24px;
    top: 24px;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: var(--gray-200);
}
